<!DOCTYPE html>
<head>
    <title>
        register
    </title>
</head>
<body>
    <h1>hello hi</h1>
    <form class="form" action="/uplode_database" method="post">
        <input type="text" class="form-control" placeholder="Enter name" name="name"><br>
        <input type="email" class="form-control" placeholder="Enter email" name="email"><br>
        <input type="password" class="form-control" placeholder="Enter password" name="password"><br>
        <input type="submit",value="login">
      </form>
      <p class="mt-2">already a menmber? <a href="/"> login here</a></p>
</body>
